POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=recordpool

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

MINIO_ENDPOINT=localhost:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_USE_SSL=false
MINIO_BUCKET_TRACKS=recordpool

API_BASE=http://localhost:8080
SLACK_CLIENT_ID= # slack
SLACK_CLIENT_SECRET= # slack
REDIRECT_URL= # ngrok/api/auth/slack/callback
FRONTEND_URL= # ngrok
NEXT_PUBLIC_API_URL= #ngrok/api
