DATABASE_URL=
MINIO_ENDPOINT=
#MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_USE_SLL=
MINIO_BUCKET_TRACKS=
API_BASE=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
REDICERT_URL=
FRONTEND_URL=
NEXT_PUBLIC_API_URL=
